# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
eggs/
pip-wheel-metadata/
*.log
*.pot
*.pyc
*.pyo

# Django
*.sqlite3
db.sqlite3
media/
*.log

# Environments
.env
venv/
.env.*
.venv/
Pipfile.lock
poetry.lock

# IDEs y editores
.vscode/
.idea/
*.swp

# macOS y Linux
.DS_Store
*.swo